<header class="cv-header">
  <div class="cv-header-content">
    <div class="cv-text-content">
      {% if personal_info.name %}<h1 class="cv-name" data-scramble="1">{{ personal_info.name }}</h1>{% endif %}
      {% if personal_info.title %}<p class="cv-title" data-scramble="1">{{ personal_info.title }}</p>{% endif %}
      <div class="cv-contact">
        {% if personal_info.email %}<span><a data-scramble="1" data-scramble-href="1" href="mailto:{{ personal_info.email }}">{{ personal_info.email }}</a></span>{% endif %}
        {% if personal_info.phone %}<span data-scramble="1">{{ personal_info.phone }}</span>{% endif %}
        {% if personal_info.website %}<span><a href="{{ personal_info.website }}">{{ personal_info.website }}</a></span>{% endif %}
        {% if personal_info.linkedin %}<span><a href="{{ personal_info.linkedin }}">LinkedIn</a></span>{% endif %}
        {% if personal_info.github %}<span><a href="{{ personal_info.github }}">GitHub</a></span>{% endif %}
        {% if personal_info.address %}<span data-scramble="1">{{ personal_info.address }}</span>{% endif %}
      </div>
    </div>
    {% if personal_info.photo and layout != "ats-single-column" and layout != "career-timeline" %}<img class="cv-photo" src="{{ personal_info.photo }}" alt="Photo"/>{% endif %}
  </div>
</header>
